{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('add_category') }}" ><input type="submit" value="submit"></a>
        {{ form_end(form) }}
    </div>
{% endblock %}
