{% extends "base.html.twig" %}
{% block body %}
    <h1>Bienvenue sur mon blog</h1>
    <a href="{{ path('app_index') }}">Afficher blog</a>
    <br>
    <a href="{{ path('blog_list', {'page':1}) }}">Afficher list</a>
    <br>
    <a href="{{ path('blog_show') }}">Afficher show</a>
{% endblock %}